.main {
  width: 100%;
  position: relative;
  z-index: 1;
  background-image: url("../../images/background.jpg");
  background-position: center;
  background-size: cover;

  height: 576px;
  box-sizing: border-box;
  padding-top: 160px;

  display: flex;
  justify-content: center;
}

.main__content {
  display: flex;
  flex-direction: column;
}

.main__title {
  font-family: "Roboto Slab", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  color: #FFFFFF;
  margin: 0 0 32px;
  width: 85%;
}

.main__subtitle {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0;
  width: 75%;
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .main {
    padding-top: 100px;
    height: 400px;
  }

  .main__content {
    width: 448px;
  }

  .main__title {
    width: 385px;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 16px;
  }

  .main__subtitle {
    width: 100%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .main {
    padding: 85px 16px 32px;
  }

  .main__title {
    width: 100%;
    font-size: 36px;
    line-height: 40px;
  }

  .main__subtitle {
    width: 100%;
  }
}
