.header {
  background: none;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 104px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  max-width: 1440px;
  width: 100%;
  min-width: 320px;
  height: 80px;

  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
}

.header__logo {
  font-family: "Roboto Slab", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: white;
  align-self: center;
  justify-content: flex-start;
  margin: 0;
  text-decoration: none;
}

.header__burger {
  display: none;
  border: none;
  padding: 0;
  width: 20px;
  height: 20px;
  outline: none;
  background: url("../../images/burger.svg");
}

.header__burger_dark {
  background-image: url("../../images/burger_dark.svg");
}

.header__burger_active {
  background-image: url("../../images/close.svg");
}

.header__logo_dark {
  color: black;
}


@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .header {
    padding: 0 40px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    z-index: 100;

    padding: 0;
    margin-bottom: 16px;
    height: auto;
    box-sizing: border-box;
    border-bottom: 1px solid #D1D2D6;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: "logo burger"
                                "menu menu";
  }

  .header_active {
    background: #1A1B22;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border: none;
  }

  .header__burger {
    grid-area: burger;
    display: block;
    justify-self: flex-end;
    margin: 16px 16px 0 0;
    box-sizing: border-box;
  }

  .header__logo {
    grid-area: logo;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 0 16px 16px;
  }
}
