.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 80px 104px;
  background-color: #F5F6F7;
  box-sizing: border-box;
}

.cards__title {
  align-self: flex-start;
  font-family: "Roboto Slab", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  margin: 0 0 64px;
}

.cards__list {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #F5F6F7;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: 560px;
  grid-auto-rows: 560px;
  list-style-type: none;
}

.cards__button {
  margin-top: 64px;
  padding: 19px 64px;
  background: #FFFFFF;
  border-radius: 80px;
  border: none;
  outline: none;
  transition: opacity .2s ease-in;

  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
}

.cards__button:hover {
  opacity: 0.9;
  cursor: pointer;
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .cards {
    padding: 40px;
  }

  .cards__title {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 32px;
  }

  .cards__list {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 420px;
    grid-auto-rows: 420px;
    grid-gap: 8px;
  }

  .cards__button {
    margin-top: 22px;
    padding: 16px 60px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .cards {
    padding: 32px 16px;
  }

  .cards__list {
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 446px;
    grid-auto-rows: 446px;
    grid-gap: 10px;
  }

  .cards__title {
    margin-bottom: 24px;
  }
}
